<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.PageTitle}}</title>
    <style>
    .item {
        margin: 10px 0;
    }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{.PageTitle}}</h1>
        {{if .IsErr}}
            {{.ErrMessage}}
        {{else}}
        <div id="feeds">
            {{range .Items}}
            <div class="item">
                <div> {{.Date}} </div>
                <div class="title">{{ .Title }}</div>
                <div class="body">{{ .Body }}</div>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
</body>
</html>